/* custom styles */
body {
  padding: 10px;
  text-align: center;
  background: #3B1921;
  color: white;
}
img {
  height: auto;
  width: 300px;
}

h1, h2 {
  font-weight: 800;
}

.project {
  margin: 0px auto;
  padding: 0px 5px;
  background: tomato;
}

#contact {
  clear: both;
}

#my-works {
  padding: 0;
  margin: 0;
  display: flex;
}

.rounded-img {
	display: inline-block;
	border: solid 2px white;
	overflow: hidden;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

a {
  color: white;
}
