/* custom styles */
body {
  text-align: center;
  background: #713585;
  color: white;
}
img {
  height: auto;
  width: 200px;
}

.row {
  height: 300px;
}

.col-xs-12 {
  height: 300px;
  background: tomato;
  padding: 5px;
}

.col-sm-12 {
  height: 300px;
  background: tomato;
  padding: 5px;
}
.col-md-4 {
  height: 300px;
  background: tomato;
}


@media(min-width:576px){

}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
